.notfoundpage {
  width: 100vw;
  height: 100vh;
  background: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    text-align: center;
    h1 {
      color: #ff1927;
      font-size: 150px;
    }
    p {
      font-size: 40px;
      font-weight: 700;
      color: #c2c2c2;
    }
    div {
      button {
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid #8e8e8e;
        background: transparent;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        color: #c2c2c2;
        cursor: pointer;
        svg {
          transform: rotate(-180deg);
        }
      }
    }
  }
}
